/* primary background color: #ffffff */
/* secondary background color: #F5F4FA */
/* primary text color: #212121 */
/* secondary text color: #ffffff */
/* tertiary text color: #757575 */
/* accent color: #2196f3 */

/* Поряжок укаания стилей:
- стили блочной модели (разделение пустой строкой)
- стили цвета (разделение пустой строкой)
- стили шрифта (разделение пустой строкой)
- декоративные эффекты, анимации (разделение пустой строкой) */

:root {
  --primary-background-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --primary-text-color: #212121;
  --secondary-text-color: #ffffff;
  --tertiary-text-color: #757575;
  --accent-color: #2196f3;
}

body {
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);

  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
}

/* Utilities */

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;

  /* outline: 3px solid tomato; */
}

a {
  text-decoration: none;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

address {
  font-style: normal;
}

.invisible {
  display: none;
  margin-top: 0;
}

.header-link.current,
.header-link:hover,
.header-link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}

/* Logo */

.logo {
  color: #000000;

  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 1.2;
}

.logo.footer {
  color: var(--secondary-text-color);
}

.logo.accent {
  color: var(--accent-color);
  font-family: 'Raleway', sans-serif;
}

/* Header */

.container.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  outline: 2px solid red;
}

.header-nav {
  display: flex;
  align-items: center;
  outline: 2px solid green;

  /* font-weight: 500; */
}

.header-nav.list {
  margin-left: 94px;
}

.header-nav.list .item:not(:last-child) {
  margin-right: 50px;
}

.header-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.contacts.list.header {
  display: flex;
  margin-left: auto;
  outline: 2px solid blue;
}
.contacts.header .item + .item {
  margin-left: 50px;
}

.contacts-link,
.advantages-text,
.team-card-text {
  color: var(--tertiary-text-color);
}

.header-link {
  color: var(--primary-text-color);
}

/* address .contacts {
  display: flex;
} */

/* Hero */

.hero {
  background-color: #2f303a;
  text-align: center;
  padding-top: 200px;
}

.hero-title {
  width: 696px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;

  color: var(--secondary-text-color);
  text-transform: uppercase;
  font-size: 44px;
}

.hero-button {
  display: inline-block;
  margin-bottom: 200px;
  padding: 10px;
  padding-right: 32px;
  padding-bottom: 10px;
  padding-left: 32px;
  border-radius: 4px;
  border-width: 0;

  background-color: var(--accent-color);
  color: var(--secondary-text-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
}

/* Advantages */

.advantages {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* advantages-title-main - скрыт в блоке utilities*/

.advantages-title {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

.advantages-text {
  margin-top: 0;
  line-height: 1.71;
}

.advantages.list {
  display: flex;
  /* justify-content: center; */
  outline: 2px solid greenyellow;
}

.advantages .item:not(:last-child) {
  margin-right: 30px;
}

.advantages.list .item {
  width: calc((100%-90px) / 4);
}

/* Activity */

.activity {
  padding-bottom: 94px;
}

.activity-title,
.team-title {
  margin: 0 auto 50px auto;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.activity-list {
  display: flex;
  outline: 2px solid hotpink;
}

.activity-item:not(:last-child) {
  margin-right: 30px;
}

.activity-item {
  width: calc((100%-60px) / 3);
}

/* Team */

/* Team title прописан в блоке activity */

.team.section {
  background-color: var(--secondary-background-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-card-list {
  display: flex;
  outline: 2px solid hotpink;
}

.team-card:not(:last-child) {
  margin-right: 30px;
}

.team-card {
  width: calc((100%-90px) / 4);
}

.team-card {
  background-color: var(--primary-background-color);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-card-title,
.team-card-text {
  font-size: 16px;
  line-height: 1.18;

  text-align: center;
}

.team-card-title {
  font-weight: 600;
}

/* Footer */

footer {
  padding-top: 60px;
  background-color: #2f303a;
}

.contacts.list.footer {
  padding-top: 20px;
  line-height: 1.71;
}

.footer .item + .item {
  padding-top: 9px;
}

.address-map {
  color: var(--secondary-text-color);
}

/* Начало блока стилей Portfolio */

/* Hero Portfolio */

/* .hero-title - скрыт в блоке utilities */

/* Portfolio filter */

.portfolio-filter.list {
  display: flex;
  padding-top: 94px;
  justify-content: center;
}

.portfolio-filter-button {
  padding: 6px 22px;
  border-radius: 2px;
  border-width: 0;
  text-align: center;

  background-color: var(--secondary-background-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
}

.portfolio-filter-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-filter-button:hover,
.portfolio-filter-button:focus,
.portfolio-filter-button.current {
  background-color: var(--accent-color);
  color: var(--secondary-text-color);
}

/* Portfolio gallery */

/* .portfolio-gallery {
  background-color: teal;
} */

.portfolio-gallery-list {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  /* margin: -15px; */

  /* background-color: pink; */
}

.portfolio-card {
  width: calc((100%-66px) / 3);
  /* margin: 15px;
  width: 371px; */
  background-color: var(--primary-background-color);
  border: 1px solid #eeeeee;
}

.portfolio-card:not(:nth-child(3n)) {
  margin-right: 30px;
}

.portfolio-card:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.portfolio-card-title {
  /* padding-left: 24px;
  padding-right: 24px; */

  font-weight: 700;
  font-size: 18px;
  line-height: 2;

  letter-spacing: 0.06em;
}

.portfolio-card-text {
  padding-left: 24px;
  padding-right: 24px;

  color: var(--tertiary-text-color);

  font-size: 16px;
  line-height: 1.87;
}
/* Конец блока стилей страницы Портфолио */
